.resource-tracker-icon img {
	flex: 0;
}

.resource-tracker-column {
	padding-top: 13px;
	align-items: flex-start;
}

.col.resource-tracker-column-left {
	right: calc(100% + 75px);
	align-items: flex-end;
}

.col.resource-tracker-column-right {
	left: calc(100% + 75px);
	align-items: flex-start;
}

.resource-tracker-row {
	flex: 0 !important;
	margin: 8px 25px 8px 0 !important;
}

.resource-tracker-row input[type=text] {
	width: 60px;
	max-width: 60px;
	min-width: 60px;
}

.resource-tracker-row {
	position: relative;
	display: flex;
	width: max-content;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 5px #000;
	border: 1px solid #333;
	color: #DDD;
	height: 40px;
	line-height: 40px;
	margin: 0;
	border-radius: 8px;
	font-size: 16px;
	font-weight: bold;
	pointer-events: all;
}

.resource-tracker-row input[type=text] {
	background-color: red;
	border: none;
	box-shadow: none;
	background: none;
	position: relative;
	flex: 1 1 auto;
	text-align: right;
}

.resource-tracker-row span{
	padding-left: 5px;
}

	.resource-tracker-row-withIcon img {
		display: flex;
		align-items: center;
		padding: 3px 0px 1px 3px;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		color: #212529;
		text-align: center;
		white-space: nowrap;
		background: none;
		border: none;
	}


	.resource-tracker-row-withIcon span {
    	margin: 0px 3px 0px 3px;
	}


.resource-tracker-row-name {
	font-size: 16px;
	white-space: nowrap;
}
